.sudoku-notes-container {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  z-index: 100;
  top: 0;
  pointer-events: none;
  background-color: transparent;
}

.sudoku-notes-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.note-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
